* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


/*-------------NAVIGATION MENU---------------*/

.navbar {
    position: fixed;
    display: flex;
    width: 100vw;
    text-align: center;
    justify-content: center;
    background-color: #1A1423;
    list-style-type: none;
    z-index: 5;
}

.navbar li {
    padding: 30px 30px;
    display: inline;
}

.navbar a {
    color: #aaa;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + .5vw);
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    color: #EF626C;
}


/*-----------------TOP---------------*/

.container-top {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 150px;
    height: 90vh;
}

h1 {
    display: inline-block;
    font-size: 85px;
    font-weight: 800;
    color: #1e1e1e;
    text-align: left;
    margin-left: 5vw;
}

.homeimg {
    display: block;
    width: 45%;
    margin-right: 5vw;
}

q {
    position: relative;
    display: block;
    width: 100%;
    font-size: calc(14px + 1vw);
    color: #ffffff;
    font-style: italic;
    text-align: center;
    padding: 0 25px;
}

.quote {
    position: relative;
    height: auto;
    width: 100%;
    padding: 50px 0;
    background-color: #1A1423;
    text-align: center;
}

button {
    position: relative;
    background-color: #6C63FF;
    color: #ffffff;
    border-radius: 25px;
    border: 0px solid transparent;
    font-size: 1em;
    font-weight: 600;
    padding: 15px 40px;
    margin-top: 2rem;
    cursor: pointer;
}


/*------------------------ABOUT US------------------------*/

h2 {
    position: relative;
    left: 20;
    font-size: 3rem;
    margin-top: 6%;
    margin-bottom: 4%;
    font-weight: 700;
    color: #1A1423;
    text-align: center;
}

p {
    position: relative;
    font-size: 1.3em;
    color: #1e1e1e;
    width: 60%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2rem;
    left: 20%;
    margin-bottom: 6%;
}

.aboutimg {
    position: relative;
    width: 40%;
    height: auto;
    left: 30%;
    top: 200%;
    margin-bottom: 10%;
}


/*------------------------------------QUOTES-----------------------*/


/* Slideshow container */

.slideshow-container {
    position: relative;
    background: #1A1423;
}


/* Slides */

.mySlides {
    display: none;
    padding: 50px 0 5px 0;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


/* The dot/bullet/indicator container */

.dot-container {
    text-align: center;
    padding: 5px 0 40px 0;
    background: #1A1423;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active,
.dot:hover {
    background-color: #EF626C;
}

.author {
    color: #6C63FF;
    text-align: center;
    margin: 2% 0 1% 0;
}


/*-----------------------------EVENTS-----------------------------*/

table {
    max-width: 100%;
    min-width: 20%;
    margin: 0 auto;
    text-align: justify;
    justify-content: center;
}

thead {
    text-align: left;
}

.bookcover {
    max-width: 200px;
    min-width: 80px;
}

.book-author {
    font-size: 1.3rem;
    text-align: center;
}

th {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline #EF626C;
    color: #1e1e1e;
    text-align: center;
    padding-left: 5%;
}

td {
    padding: 3rem 2rem;
}

.info {
    max-width: 600px;
    min-width: 600px;
    padding: 5% 5%;
}


/*---------------------------BECOME A MEMBER---------------------------*/

.membership {
    position: relative;
    height: 100vh;
    display: block;
    margin: auto;
    padding-top: 20px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 50%;
    background-color: #EF626C;
    border: 15px solid #6C63FF;
    border-radius: 25px;
    padding: 40px 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #1e1e1e;
    font-weight: bold;
    text-align: left;
}

.group {
    display: inline-block;
    flex-direction: row;
    text-align: center;
}

input {
    width: 55%;
    min-width: 100px;
    margin: 10px auto;
    padding: 5px 0;
    outline: none;
}

#submit-btn {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #6C63FF;
    border-radius: 25px;
    border: 4px solid #6C63FF;
    padding: .2em 2em;
    cursor: pointer;
    outline: none;
}

#remember-info {
    width: 100%;
    padding: 0;
}


/*----------------------------Media Queries-----------------------------*/

@media screen and (max-width: 480px) {
    .container-top {
        height: 80vh;
    }
    h1 {
        font-size: 3.5em;
        text-align: center;
        margin: 0 auto;
    }
    .homeimg {
        margin-top: -250px;
    }
    .navbar li {
        padding: 30px 15px;
        display: inline;
    }
    q {
        font-size: 1.1em;
    }
    .btn {
        left: 30%;
        font-size: 1em;
    }
    h2 {
        font-size: 2em;
        margin: 13% 0 10% 0;
    }
    p {
        font-size: 1em;
        line-height: 1.5rem;
    }
    .aboutimg {
        width: 45%;
        left: 27%;
        margin-top: 12%;
        margin-bottom: 12%;
    }
    .mySlides {
        padding: 2rem 2rem;
    }
    .container {
        width: 70%;
    }
    form {
        width: 80%;
    }
}

@media screen and (min-width: 320px) and (max-width: 957px) {
    h1 {
        text-align: center;
        margin: 0 auto;
    }
    .homeimg {
        width: 50%;
        margin: 50px auto;
    }
}
