* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


/*-------------NAVIGATION MENU---------------*/

.navbar {
    position: fixed;
    display: inline-block;
    width: 100vw;
    text-align: center;
    background-color: #1A1423;
    list-style-type: none;
    z-index: 5;
}

.navbar li {
    padding: 15px 25px;
    display: inline-block;
}

.navbar a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
}

.navbar a:hover {
    color: #EF626C;
}


/*-----------------TOP---------------*/

.container-top {
    width: 100vw;
    height: auto;
}

.hero-home {
    float: left;
    width: 40%;
    height: auto;
    top: 40%;
    margin: 11rem 0 6rem 10rem;
}

h1 {
    font-size: 4.3em;
    font-weight: 800;
    color: #1e1e1e;
    text-align: right;
    padding: 15rem 15rem 7rem 0;
}

q {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 1rem;
    font-size: 2em;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

.quote {
    clear: both;
    height: auto;
    width: 100%;
    padding: 3% 0 5% 0;
    background-color: #1A1423;
}

.btn {
    position: relative;
    left: 45%;
    background-color: #6C63FF;
    color: #ffffff;
    border-radius: 5%;
    border: 0px solid transparent;
    font-size: 1em;
    font-weight: 600;
    padding: .5rem 1rem;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
}


/*------------------------ABOUT US------------------------*/

h2 {
    position: relative;
    left: 20;
    font-size: 3rem;
    margin-top: 6%;
    margin-bottom: 4%;
    font-weight: 700;
    color: #1A1423;
    text-align: center;
}

p {
    position: relative;
    font-size: 1.3em;
    color: #1e1e1e;
    width: 60%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2rem;
    left: 20%;
    margin-bottom: 6%;
}

.aboutimg {
    position: relative;
    width: 40%;
    height: auto;
    left: 30%;
    top: 200%;
    margin-bottom: 10%;
}


/*------------------------------------QUOTES-----------------------*/


/* Slideshow container */

.slideshow-container {
    position: relative;
    background: #1A1423;
}


/* Slides */

.mySlides {
    display: none;
    padding: 50px 0 5px 0;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


/* The dot/bullet/indicator container */

.dot-container {
    text-align: center;
    padding: 5px 0 40px 0;
    background: #1A1423;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active,
.dot:hover {
    background-color: #EF626C;
}

.author {
    color: #6C63FF;
    text-align: center;
    margin: 2% 0 1% 0;
}


/*-----------------------------EVENTS-----------------------------*/

.container {
    width: 100%;
    height: auto;
}

table {
    text-align: left;
    margin: 5rem 10rem;
}

.bookcover {
    width: 150px;
    height: auto;
    padding: 20% 2%;
    left: 30%;
    margin: 5% 5%;
}

.book-author {
    font-size: 1.3rem;
    text-align: center;
}

th {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline #EF626C;
    color: #1e1e1e;
    text-align: center;
    padding-left: 5%;
}

td {
    width: 100px;
    padding: 3rem 2rem;
}

.info {
    width: 600px;
    padding: 5% 5%;
}


/*---------------------------BECOME A MEMBER---------------------------*/

.membership {
    position: relative;
    width: 90%;
    display: block;
    margin: auto;
}

form {
    position: absolute;
    top: 100px;
    left: 20%;
    margin: 2rem 0 6rem 0;
    text-align: center;
    line-height: 2em;
    width: 60%;
    background-color: #6C63FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: #1A1423;
}

.form-info {
    padding: 2rem 1rem;
    margin: 1rem 1rem;
    background-color: #EF626C;
}

#submit-btn {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #6C63FF;
    border-radius: 5%;
    border: 4px solid #6C63FF;
    padding: .2em 2em;
    margin-top: 5%;
    cursor: pointer;
}


/*----------------------------Media Queries-----------------------------*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 3.5rem;
        left: 150px;
    }
    .hero-home {
        display: none;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 481px) and (max-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 769px) and (max-width: 1024) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {}
